.search-wrapper {
	position: relative;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.search, .auto-complete {
	background: var(--box-background);
	padding: 0.5em;
	border-radius: 10px;
}

.search {
	outline: none;
	border: none;
	
	width: 100%;
	margin-bottom: 5px;
}

.auto-complete {
	position: absolute;
	width: 97%;

	border: 3px solid var(--dark-box-background);
}

.search-icon {
	color: var(--special-text);

	position: absolute;
	top: 0;
	right: 0;
	padding-top: 20px;
	padding-right: 5px;
}

.search-items {
	list-style: none;
	padding: 0.2em;
	border-bottom: 2px solid var(--highlighted-background);

	cursor: default;
}

.search-items:hover {
	background: var(--highlighted-background);
}