@import url("search.css");
@import url("wiki.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--text: #fafafa;
	--special-text: #fff8E8;
	--background: #141318;
	--box-background: #232227;
	--dark-box-background: #1b1a1c;
	--highlighted-background: #38373d;
}

* {
	color: var(--text);
	font-family: 'Poppins', sans-serif;
	font-size: large;
}

body {
	background-color: var(--background);
	padding: 10px;
}

hr {
	border: 0.1vh solid var(--special-text);
	border-radius: 10px;
}

.logo {
	color: var(--special-text);

	position: absolute;

	margin-top: 0;

	font-size: 50px;
	font-weight: 100;
}