@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--text: #fafafa;
	--special-text: #dddbd1;
	--background: #141318;
	--box-background: #232227;
	--highlighted-background: #38373d;
}

* {
	color: var(--text);
	font-family: 'Poppins', sans-serif;
	font-size: large;
}

body {
	background-color: var(--background);
	padding: 10px;
}

.line {
	border: 0.1vh solid var(--special-text);
	border-radius: 10px;
}
